body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
}

html, body, .expand {
	height: 100%;
	width: 100%;
}

a:link, a:visited {
	text-decoration: underline;
}

a:hover, a:active {
	color: #000000;
}

#dpc {
	font-size: 9px;
}
