#mhpad {
 padding-bottom: 15px;
}

#cmhpad {
 padding-bottom: 15px;
 font-weight: bold;
 font-size: 22px;
}

#mhpt {
  font-size: 10px;
}

#mfpad {
 font-size: 13px;
}

#mhedit {
border: 1px solid #646464;
padding: 0px;
height: 18px;
}

#mfooter {
	font-size: 10px;
	color: #8F8F8F;
}

#mcpad {
	padding-top: 14px;
	border: 1px solid #AAAAAA;
	padding-bottom: 14px;
}

#mcpads {
	padding-top: 14px;
	border: 1px solid #AAAAAA;
	padding-bottom: 14px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 14px;
}

#mcpadc {
	border: 1px solid #AAAAAA;
}

#mheadert {
	font-size: 16px;
}

#mheaderts {
	font-size: 14px;
}

#mne {
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	font-family: "Bitstream Vera Sans", Verdana, Lucida, Arial, Helvetica, Sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#mnen {
	background-color: #FFFFFF;
	border: 1px solid #AAAAAA;
	font-family: "Bitstream Vera Sans", Verdana, Lucida, Arial, Helvetica, Sans-serif;
	font-size: 12px;
	font-weight: normal;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

#mneb {
	border: 1px solid #AAAAAA;
	font-family: "Bitstream Vera Sans", Verdana, Lucida, Arial, Helvetica, Sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

